#theme-mode.animate {
	animation: animate .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}
@keyframes animate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
#theme-mode {
	background-color: transparent;
	border: none;
	font-size: 1.5rem;
	/* position: absolute; */
	/* top: 2rem;
	right: 2rem; */
}