@import "tailwindcss";

:root {

	/* Colors */
	--black: #000000;
	--white: #ffffff;
	/* Pastel colors */
	--skyblue-pastel: #BDE3D8;
	--pink-pastel: #e4b2d6;
	--yellow-pastel: #F4DB5F;
	--blue-pastel: #42a6c7;
	--green-pastel: #769e40;
	--salmon-pastel: #FBE3D7;
	--garnet-pastel: #92374D;
	--moccasin-pastel: #dcc698;
	/* Light */
	--background-light: linear-gradient(var(--gray-gradient)) no-repeat;
	--contrast-light: #d4294b;
	--text-light: #616161;
	--shadow-color-light: rgb(0, 0, 0, .5);
	/* Dark */
	--background-dark: #121212;
	--contrast-dark: #BB8BF5;
	/* --contrast-dark: #7e5ca9; */
	--text-dark: #8A8A8A;
	--shadow-color-dark: rgb(255, 255, 255, .3);


	/* VENIAN ASTRO */
	/* --accent: #2337ff; */
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

/* Default */
html {
	--background-color: var(--background-light);
	--contrast-background-color: var(--background-dark);
	--color-text: var(--text-light);
	--accent: var(--contrast-light);
	--primary-color: var(--yellow-pastel);
	--shadow-color: var(--shadow-color-light);
}

/* Dark */
html[scheme='dark-mode'] {
	--background-color: var(--background-dark);
	--contrast-background-color: var(--background-light);
	--color-text: var(--text-dark);
	--accent: var(--contrast-dark);
	--primary-color: var(--white);
	--shadow-color: var(--shadow-color-dark);
}

@theme {
	--color-primary: var(--primary-color);
	--color-background: var(--background-color);
	--color-accent: var(--contrast-color);
	--color-text: var(--color-text);
}

#theme-mode.animate {
	animation: animate .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}
@keyframes animate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
#theme-mode {
	background-color: transparent;
	border: none;
	font-size: 2rem;
	/* position: absolute; */
	/* top: 2rem;
	right: 2rem; */
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--background-color);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
	color: var(--color-text)
}

h1 {
	font-size: 3.052em;
	color: var(--accent);
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
}

strong,
b,
li {
	color: var(--color-text)
}

a {
	color: var(--accent);
}

a:hover {
	font-style: italic;
	text-decoration: underline;
}

p {
	margin-bottom: 1em;
	color: var(--color-text)
}

.prose p {
	margin-bottom: 2em;

}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}