---

---

<button id="theme-mode"></button>

<script>
    const $ = (selector: string) => document.querySelector(selector) as Element;
    const $$ = (selector: any) =>
        document.querySelectorAll(selector) as NodeListOf<Element>;
    // THEME
    let initScheme = (function () {
        let scheme = "dark-mode";
        switch (window.localStorage.getItem("THEME")) {
            case "dark-mode":
                scheme = "dark-mode";
                break;
            case "light-mode":
                scheme = "light-mode";
                break;
            default:
                scheme = window.matchMedia("(prefers-color-scheme: dark)")
                    .matches
                    ? "dark-mode"
                    : "light-mode";
                break;
        }
        if (scheme == "dark-mode") {
            $("#theme-mode").textContent = "🌒";
        } else {
            $("#theme-mode").textContent = "🌞";
        }
        document.documentElement.setAttribute("scheme", scheme);
    })();
    // CHANGE THEME
    const themeModeButton = document.querySelector("#theme-mode");
    if (themeModeButton) {
        themeModeButton.addEventListener("click", function (this: HTMLElement) {
            const new_scheme =
                document.documentElement.getAttribute("scheme") === "dark-mode"
                    ? "light-mode"
                    : "dark-mode";

            this.classList.add("animate");
            setTimeout(() => {
                this.classList.toggle("active");
                if (new_scheme == "dark-mode") {
                    $("#theme-mode").textContent = "🌒";
                } else {
                    $("#theme-mode").textContent = "🌞";
                }
                document.documentElement.setAttribute("scheme", new_scheme);
                window.localStorage.setItem("THEME", new_scheme);
            }, 150);

            setTimeout(() => {
                this.classList.remove("animate");
            }, 300);
        });
    }
</script>
