---
const today = new Date();
import InstagramLogo from '../components/Logos/instagram.astro'
import GitHubLogo from '../components/Logos/github.astro'
import LinkeinLogo from '../components/Logos/linkedin.astro'

export const _socialLinks = [
	{
		name: "GitHub",
		url: "https://github.com/javimogan",
		srOnly: "Ir al repositorio GitHub de javimogan",
		icon: GitHubLogo,
	},
	{
		name: "LinkedIn",
		url: "https://www.linkedin.com/in/javimogan/",
		srOnly: "Ir al perfil de LinkedIn de javimogan",
		icon: LinkeinLogo,
	},
	{
		name: "Instagram",
		url: "https://instagram.com/javimogan",
		srOnly: "Sigue a javimogan en Instagram",
		icon: InstagramLogo,
	},
];
---

<footer>
	&copy; 
	{today.getFullYear()} // javimogan
	<!-- // All rights reserved -->
	<div class="social-links">
		{_socialLinks.map(({ name, url, icon:Icon, srOnly }) => (
			<a href={url}
				target="_blank"
				rel="nofollow noreferrer noopener noindex"
			>
				<span class="sr-only">{srOnly}</span>
				<Icon size={32}/>
			</a>
		))}
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		/* background: linear-gradient(var(--gray-gradient)) no-repeat; */
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color:var(--accent);
	}
	.social-links svg {
		color:aquamarine;
		background-color: blue;
	}
</style>
