---
const today = new Date();
import InstagramLogo from '../components/Logos/instagram.astro'
import GitHubLogo from '../components/Logos/github.astro'
import LinkeinLogo from '../components/Logos/linkedin.astro'

export const _socialLinks = [
	{
		name: "GitHub",
		url: "https://github.com/javimogan",
		srOnly: "Ir al repositorio GitHub de javimogan",
		icon: GitHubLogo,
	},
	{
		name: "LinkedIn",
		url: "https://www.linkedin.com/in/javimogan/",
		srOnly: "Ir al perfil de LinkedIn de javimogan",
		icon: LinkeinLogo,
	},
	{
		name: "Instagram",
		url: "https://instagram.com/javimogan",
		srOnly: "Sigue a javimogan en Instagram",
		icon: InstagramLogo,
	},
];
---

<footer class="pt-8 pr-4 pb-24 pl-4 text-gray text-center bg-gray">
	&copy; 
	{today.getFullYear()} // javimogan
	<!-- // All rights reserved -->
	<div class="social-links flex justify-center gap-4 mt-4">
		{_socialLinks.map(({ name, url, icon:Icon, srOnly }) => (
			<a href={url}
				target="_blank"
				class="no-underline hover:text-accent"
				rel="nofollow noreferrer noopener noindex"
			>
				<span class="sr-only">{srOnly}</span>
				<Icon size={32}/>
			</a>
		))}
	</div>
</footer>
<style>
	footer {
		color: rgb(var(--gray));
	}
	.social-links a {
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color:var(--accent);
	}
</style>
