---
import Default from "@astrojs/starlight/components/Footer.astro";

const today = new Date();
import InstagramLogo from './Logos/instagram.astro'
import GitHubLogo from './Logos/github.astro'
import LinkeinLogo from './Logos/linkedin.astro'

export const _socialLinks = [
	{
		name: "GitHub",
		url: "https://github.com/javimogan",
		srOnly: "Ir al repositorio GitHub de javimogan",
		icon: GitHubLogo,
	},
	{
		name: "LinkedIn",
		url: "https://www.linkedin.com/in/javimogan/",
		srOnly: "Ir al perfil de LinkedIn de javimogan",
		icon: LinkeinLogo,
	},
	{
		name: "Instagram",
		url: "https://instagram.com/javimogan",
		srOnly: "Sigue a javimogan en Instagram",
		icon: InstagramLogo,
	},
];
---
<Default {...Astro.props}>
	<slot />
</Default>
<div class="text-gray-700 text-center">
	&copy; 
	{today.getFullYear()} // javimogan
	<!-- // All rights reserved -->
	<div class="social-links flex justify-center gap-4 mt-4">
		{_socialLinks.map(({ name, url, icon:Icon, srOnly }) => (
			<a href={url}
				target="_blank"
				class="no-underline"
				rel="nofollow noreferrer noopener noindex"
			>
				<span class="sr-only">{srOnly}</span>
				<Icon classname="text-gray-400 hover:text-accent-600 dark:hover:text-accent-200" size={32}/>
			</a>
		))}
	</div>
</div>