---
// Importa el componente HeaderLink y la constante SITE_TITLE
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import DarkThemeButton from "./DarkThemeButton.astro";
---

<header class="w-full shadow-md">
	<nav class="flex items-center justify-between px-4 py-2">
		<!-- Título del sitio alineado a la izquierda -->
		<div>
			<h2 class="text-lg font-semibold">
				<a href="/" class="no-underline text-3xl"
					>{SITE_TITLE}</a
				>
			</h2>
		</div>
		<!-- Contenedor para los enlaces de navegación -->
		<div class="flex-1 flex justify-center space-x-4">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Artículos</HeaderLink>
			<!-- <HeaderLink href="/about">About</HeaderLink> -->
		</div>
		<div>
			<DarkThemeButton />
		</div>
		<!-- Espacio reservado para futuros enlaces sociales -->
		<!-- <div class="flex space-x-4">
      <a href="https://m.webtoo.ls/@astro" target="_blank" class="text-black">
        <span class="sr-only">Follow Astro on Mastodon</span>
      </a>
      <a href="https://twitter.com/astrodotbuild" target="_blank" class="text-black">
        <span class="sr-only">Follow Astro on Twitter</span>
      </a>
      <a href="https://github.com/withastro/astro" target="_blank" class="text-black">
        <span class="sr-only">Go to Astro's GitHub repo</span>
      </a>
    </div> -->
	</nav>
</header>

<style>
	nav a {
		color: var(--color-text);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		border-bottom-color: var(--accent);
	}
	nav a:hover {
		text-decoration: none;
		font-style: normal;
	}
</style>
