---
import Default from "@astrojs/starlight/components/LastUpdated.astro";
const { id } = Astro.locals.starlightRoute.entry.data;
---

{id && <p><a href={`/${id}`} rel="nofollow noreferrer noopener" >#{id}</a></p>}
<Default />
