---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const { posts } = Astro.props as { posts: CollectionEntry<"blog">[] };

---
<style>
    ul li * {
        text-decoration: none;   
    }
  
    ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
    }
    ul li a {
        display: block;
    }
    .title {
        margin: 0;
        line-height: 1;
    }
    .date {
        margin: 0;
        color: rgb(var(--gray));
    }
    ul li a:hover span,
    ul li a:hover .date {
        color: rgb(var(--accent));
        font-style: normal;
    }
    ul a:hover img {
        box-shadow: var(--box-shadow);
        transition: 0.2s ease;
    }

</style>
<ul class="flex flex-wrap m-0 p-0">
    {
        posts.map((post) => (
            <li class="w-1/2 p-4">
                <a href={`/blog/${post.id}/`}>
                    <img width={720} height={360} src={post.data.heroImage} alt="" />
                    <span class="title text-2xl text-text">{post.data.title}</span>
                    <p class="date m-0 text-gray hover:text-accent">
                        <FormattedDate date={post.data.updatedDate ?? post.data.pubDate} />
                    </p>
                </a>
            </li>
        ))
    }
</ul>