---
import Layout from "./Layout.astro";

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
    <main class="flex flex-col w-full items-center p-4">
        <article
            class="container flex flex-col gap-4 w-full md:max-w-prose"
        >
            <slot />
        </article>
    </main>
</Layout>
